body {
    background: black;

}

nav {
    color: white;
    text-align: center;
}

main {
    margin: 5% 10%;
}

main img {
    width: 50%;
    margin-bottom: 50px;
}

main img:nth-child(odd) {
    margin-right: 40%;
    transform: rotate(-5deg);
}

main img:nth-child(even) {
    margin-left: 40%;
    transform: rotate(5deg);
}