<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
</head>
<body>
    <div class="dashboard-container">
        <!-- Tab Navigation -->
         <nav>
            <h1>Texas Waste Dumping</h1>
            <div class="tabs">
                <button class="tab-button"><a href="/">Home</a></button>
                <button class="tab-button"><a href="static/pages/1.html">Tab 1</a></button>
                <button class="tab-button"><a href="static/pages/2.html">Tab 2</a></button>
                <button class="tab-button"><a href="static/pages/3.html">Tab 3</a></button>
                <button class="tab-button"><a href="static/pages/4.html">Tab 4</a></button>
                <button class="tab-button"><a href="static/pages/5.html">Tab 5</a></button>
            </div>
        </nav>

        <main id="main"></main>

    </div>
</body>
</html>
